/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-toms-themejson-generator {
	padding-block: 2rem;

	.generate-theme-json-form {
		.colors-fieldset {
			.color-palette-container {
				.color-palette-item {
					display: flex;
					gap: 1rem;

					label {
						display: flex;
						flex-direction: column;
						gap: 0.5rem;
						align-items: flex-start;
					}

					.group-label {
						margin-bottom: 1rem;
					}
				}
			}

			.button {
				margin-top: 1rem;
				padding: 0.5rem 1rem;
			}
		}
	}
}
