figcaption {
	font-size: 0.8em;
	font-style: italic;
}

code {
	background: linear-gradient(
			90deg,
			rgba(14, 191, 233, 0.2),
			rgba(37, 0, 255, 0.1) 25%
		),
		#fdfdfd;
	border-radius: 6px;
	font-size: 0.9em;
	padding: 0 0.2rem;
}
